<section class="admin-dashboard">

  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

    <div class="stats">
      <article>
        <h4>Number of Products: </h4>
        <span><%= @product_count %></span>
      </article>
      <article>
        <h4>Number of Categories: </h4>
        <span><%= @category_count %></span>
      </article>
    </div>

</section>

