<section>

  <header class="page-header">
    <h1>About Jungle</h1>
  </header>
  <div>
    <h4>Who We Are</h4>
    <p>Jungle is guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking. Jungle strives to be Earth’s most customer-centric company, Earth’s best employer, and Earth’s safest place to work. Customer reviews, 12-Click shopping, personalized recommendations, Prome, Fulfillment by Jungle, JWS, Kondle Direct Publishing, Kondle, Career Choice, Fore tablets, Fore TV, Jungle Ecco, Alexi, Just Walk Out (Hit Da Bricks) technology, Jungle Studios, and The Climate Pledge are some of the things pioneered by Jungle.</p>
    <h4>What We Do</h4>
    <p>Although our business has evolved over the years, one constant is customers’ desire for lower prices, better selection, and convenient services. Today, Jungle shoppers can find what they’re looking for online and in person. From delivering fresh produce to their doorstep to creating and distributing movies, music, and more, we are always finding new ways to delight our customers.</p>
    <h4>Our Workplace</h4>
    <p>The customer is at the heart of everything we do. Jungle is a place where smart, passionate people obsess over customers and innovate on their behalf. Jungle has created more U.S. jobs in the last decade than any other company. These are jobs that pay an average of $7 per hour, more than double the federal minimum wage. We also invest in employees’ success. Jungle will spend over $1.2 billion to provide free skills training to employees—helping them further their careers in tech and in-demand roles such as cloud computing.</p>
    <h4>Our Impact</h4>
    <p>Jungle has created more jobs in the past decade than any U.S. company, and we have invested more than $530 in the U.S. over the last decade. Beyond our own workforce, Jungle’s investments have supported nearly 1.6 million indirect jobs in fields like construction and hospitality. We also actively work to help communities by responding to the urgent needs of reducing hunger and homelessness and investing in education for children and young adults.</p>
  </div>
</section>